.col-md-4 {
    width: 50%;
}

.col-md-8 {
    width: 50%;
}

img.img-thumbnail.img-circle {
    width: 60%;
}

.card-body {
    margin-left: -55px;
}

h5.card-title {
    font-size: 2rem;    
}

p.card-text {
    font-size: 1.4rem;
}

a {
    font-size: 1.4rem;
}

hr {
    border-top: 2px solid #000;
}

@media (min-width: 575px){
    .row.no-gutters {
        width: 200%;
    }
}