*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }


.container {
margin: 0 auto;
/* max-width: 48rem; */
width: 100%;
}

/* .left {
    float: left;
} */

 .column {
    /* float: left; */
    padding-left: 1rem;
    padding-right: 1rem;
    /* border: 2px #000 solid; */
    position: relative;
    float: left;
}
    
/* .column.third { width: 33.3%; } */
    
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.float {
  float: left;
  width: 33%;
}

img {
    width: 100%;
    height: auto;
    /* position: relative; */
    bottom: 0px;
    float: left;
    margin-top: 1rem;
}

.box:hover {
    opacity: 1;
}

.box {
    background-color: rgba(0,0,0,0.5);
    left: 16px;
    top: 16px;
    border-radius: 0;
    height: 94%;
    width: 93%;
    position: absolute;
    opacity: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

p {
    margin: 0 0 20px 0;
    /* clear: left; */
    /* width: 72%; */
    float: left;
}

.grid {
    /* position: absolute;
    bottom: 5px; */
    margin-top: 6%;
}

.bold {
  font-weight: bold;
}

.text {
  float: left;
  padding: 2rem 3rem;
}

.min {
  width: 30%;
}

.max {
  width: 70%;
}

.title {
  top: 23px;
  left: 30px;
  position: relative;
  color: #fff;
  font-weight: bold;
}



@media all and (max-width: 699px){
  /* body {
    background: #ccc;
  } */

  .max {
    /* visibility: hidden; */
    display: none;
  }

  .min {
    width: 100%;
    text-align: center;
  }

  .bold {
    width: 100%;
    font-size: 2.5rem;
  }


}