
    

    <nav class="navbar navbar-light bg-dark">
        <!-- <a class="navbar-brand" href="#"> -->
            <img src="../../../assets/img/descarga.png" width="50" height="50" alt="" class="img-thumbnail img-fluid mx-auto">
            
        <!-- </a> -->
        <app-search-bar [placeholder]="'Search for another artist'" id="sb" [ngClass]="setClass()"></app-search-bar> 
        <div class="search" (click)="showSearch()">
            <i class="fa fa-search"></i>
        </div>
               
    </nav>